<!DOCTYPE html>
<html>
<head>
	<title>DV-Project</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>
<body>

<header>
	<div class="header_menu">
		<div class="menu_list">
			<ul>
				<li><a href="https://www.un.org/en/climatechange/what-is-climate-change/" >What is climate change?</a></li>

				<li><a href="https://youtu.be/ODRs5FnDQAs">Video</a></li>
				<li><a href="https://drive.google.com/file/d/1wRYtW4nd-ioFH1nhVAVPKL92TgrjqUqn/view?usp=drive_link">Report</a></li>
				<li><a href="https://github.com/Harshit16468/data-vis-project">Code</a></li>
			</ul>
		</div>
	</div>

	<div class="header_content">
        <h2>Data Visualisation S'24</h2>
        <h1>Climate Change</h1>

		<form id="seaLevelForm" method="POST" action="{{ url_for('watch_sea_level_video') }}">
			<input type="hidden" name="video_url" value="sea_level.html">
			<button type="submit">Sea Level Rise</button>
		</form>
		<form id="watchChartForm" action="/render_chart_html" method="POST">
			<input type="hidden" name="template_name" value="chart.html">
			<button type="submit">Countrywise CO2 Emmission</button>
		</form>
		<form id="watchChartForm" action="/extent" method="POST">
			<input type="hidden" name="template_name" value="chart.html">
			<button type="submit">Extent of Ice and Temperature vs Years</button>
		</form>
		<form id="seaLevelForm" method="POST" action="{{ url_for('heat') }}">
			<input type="hidden" name="video_url" value="heat.html">
			<button type="submit">Heat Map</button>
		</form>
		<form id="india-area" method="POST" action="/bar-race">
			<input type="hidden" name="template_name" value="bar-race.html">
			<button type="submit">Bar-race for climate change disaster</button>
		</form>
		<form id="sun-burst" method="POST" action="/sunburst">
			<input type="hidden" name="template_name" value="sunburst.html">
			<button type="submit">Per capita primary fuel consumption sunburst</button>
		</form>
		<form id="bubble" method="POST" action="/bubble">
		<input type="hidden" name="template_name" value="k.html">
			<button type="submit">Bubble chart to compare different states</button>
		</form>
		<form id="temp" method="POST" action="/temp">
			<input type="hidden" name="template_name" value="j.html">
				<button type="submit">Temperature and Rainfall for India</button>
		</form>
    </div>
</header>
</body>
</html>