<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Website Landing Page Design</title>
    <link rel="stylesheet" href="../static/style1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

    <section>

        <header>
            <h2><a href="#" class="logo">IIIT Hyderabad</a></h2>
            <div class="navigation">
                <a href="https://github.com/Harshit16468/data-vis-project">Codebase</a>
                <a href="https://github.com/Harshit16468/data-vis-project/blob/main/Report.pdf">Report</a>
                <a href="https://www.youtube.com/watch?v=zcF4vvyhUK8">Yt Video</a>
                <a href="/vis">Visualisations</a>
                <!-- <a href="#">Home</a> -->
            </div>
            <!-- <label for="">
                <i class="fas fa-bars menu-btn"></i>
                <i class="fas fa-times close-btn"></i>
            </label> -->
        </header>

        <div class="content">
            <div class="info">
                <h2>Data Visualisation<br><span>Project</span></h2>
                <h3>Spring'24</h3>
                <p>Curious about climate change and its impact? Explore dynamic visualizations revealing trends in emissions, temperature, and biodiversity. Dive into data-driven insights for actionable solutions. Let's make a difference together!</br></p>
                <a href="https://www.youtube.com/watch?v=EuwMB1Dal-4" class="info-btn">More Info</a>
            </div>
        </div>

        <!-- <div class="media-icons">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div> -->

    </section>

</body>

</html>
